In [1]:
import pandas as pd

In [4]:
# Load dataset with `low_memory=False` to handle mixed types warning
df = pd.read_csv("onion_price_2012_to_2024.csv", low_memory=False)

# Drop rows with any null values
df.dropna(inplace=True)

# Drop unnecessary columns
df = df.drop(columns=['Unnamed: 0', 'Unnamed: 0.1'], errors='ignore')  # Drop 'Unnamed' columns if present

# Reset index after dropping rows
df.reset_index(drop=True, inplace=True)

# Display cleaned data info
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1492576 entries, 0 to 1492575
Data columns (total 10 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   Sl no.                     1492576 non-null  float64
 1   District Name              1492576 non-null  object
 2   Market Name                1492576 non-null  object
 3   Commodity                  1492576 non-null  object
 4   Variety                    1492576 non-null  object
 5   Grade                      1492576 non-null  object
 6   Min Price (Rs./Quintal)    1492576 non-null  float64
 7   Max Price (Rs./Quintal)    1492576 non-null  float64
 8   Modal Price (Rs./Quintal)  1492576 non-null  float64
 9   Price Date                 1492576 non-null  object
dtypes: float64(4), object(6)
memory usage: 113.9+ MB
None
   Sl no. District Name Market Name Commodity Variety Grade  \
0     1.0       Fazilka      Abohar     Onion   Onion   FAQ
1     2.0       Fazilka      Abohar     Onion   Onion   FAQ
2     3.0       Fazilka      Abohar     Onion   Onion   FAQ
3     4.0       Fazilka      Abohar     Onion   Onion   FAQ
4     5.0       Fazilka      Abohar     Onion   Onion   FAQ

   Min Price (Rs./Quintal)  Max Price (Rs./Quintal)  \
0                    450.0                    650.0
1                    450.0                    650.0
2                    450.0                    650.0
3                    500.0                    800.0
4                    500.0                    800.0

   Modal Price (Rs./Quintal)   Price Date
0                      500.0  02 Jan 2012
1                      500.0  07 May 2012
2                      500.0  11 May 2012
3                      700.0  07 Aug 2012
4                      700.0  26 Jul 2012

In [5]:
df.isnull().sum()

Sl no.                       0
District Name                0
Market Name                  0
Commodity                    0
Variety                      0
Grade                        0
Min Price (Rs./Quintal)      0
Max Price (Rs./Quintal)      0
Modal Price (Rs./Quintal)    0
Price Date                   0
dtype: int64

In [6]:
df.to_csv('onion_price_2012_to_2024_cleaned.csv', index=False)